*{
  margin: 0;
  padding: 0;
  font-family: Calibri, Open-Sans;
  box-sizing: border-box;
}

body{
  background-color: grey;
}
header{
  width: 100%;
  display: block;
}

.tomek{
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
}
.navigator{
  position: center;
}
.h2tm{
  background-color: dakgrey;
  text-decoration: white;
  text-align: center;
  padding: 10 0;
}
nav{
  background-color: darkcyan;
}
a.nav1 {
  display: inline-block;
  justify-content: space-around;
  width: 100vw;
  padding: 15px 25px;
  color: white;
  text-decoration: none;
  text-align: center;
  border-bottom:2px solid black;
  border-top:2px solid black;
  border-left:2px solid black;
  border-right:2px solid black;
}
a.nav1:hover{
  background-color: crimson;
}
.active {
      background-color: crimson;
}
.tekst{
    display:flex;
    text-align: center;
    flex-direction: column;
}
h3{
  text-align: center;
  border-bottom:2px solid purple;
  border-top:2px solid purple;
  border-left:2px solid purple;
  border-right:2px solid purple;
  text-decoration: none;
  display: inline-block;
}
