*{
  margin: 0;
  padding: 0;
  font-family: Calibri, Open-Sans;
  box-sizing: border-box;
}

body{
  background-color: grey;
}
header{
  width: 100%;
  display: block;
}

#tomek{
  height:100vh;
  position: relative;
}
#navigator{
  max-width: 1000px;
  margin: 0 auto;
  background: white;
}

nav{
  background-color: darkcyan;
}
a.nav1 {
  display: inline-block;
  width: 246px;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  text-align: center;
  border-bottom:2px solid black;
  border-top:2px solid black;
  border-left:2px solid black;
  border-right:2px solid black;
}
a.nav1:hover{
  background-color: crimson;
}
.active {
      background-color: crimson;
}
.tekst{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.h2{
  justify-content: center;
  height:100vh;
  position: relative;
}
