*{
  margin: 0;
  padding: 0;
  font-family: Calibri, Open-Sans;
  box-sizing: border-box;
}

body{
  background-color: grey;
}

#navigator{
  max-width: 1000px;
  margin: 0 auto;
  background: white;
}
header{
  width: 100%
  display: block;
}
nav{
  background-color: darkcyan;
}
a.nav1 {
  display: inline-block;
  width: 247px;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  text-align: center;
}
a.nav1:hover{
  background-color: crimson;
}
.active {
      background-color: crimson;
}
