*{
  margin: 0;
  padding: 0;
  font-family: Calibri, Open-Sans;
  box-sizing: border-box;
}

body{
  background-color: grey;
}
header{
  width: 100%;
  display: block;
}
.git{
  justify-content: center;
  display: inline-block;
  width: 50%;
  text-align: center;
}

.tomek{
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
}
.navigator{
  position: center;
}
.h2tm{
  background-color: #00cc99;
  color: white;
  padding: 7px;
  text-align: center;
}
nav{
  background-color: darkcyan;
}
a.nav1 {
  display: inline-block;
  justify-content: center;
  width: 24%;
  padding: 15px 25px;
  color: white;
  text-decoration: none;
  text-align: center;
  border:2px solid black;
}
a.nav1:hover{
  background-color: crimson;
}
.active {
      background-color: crimson;
}
.tekst{
    display:flex;
    text-align: center;
    flex-direction: column;
}
h3{
  display: inline-block;
  position: center;
  border:2px solid purple;
  text-decoration: none;
  text-align: center;
  background-color: #00cc99;
  color: purple;
}
