* {
  margin: 0;
  padding: 0;
  font-family: Calibri, Open-Sans;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

#gg {
  max-width: 1000px;
  margin: 0 auto 0 auto;
  background-color: white;
}

nav {
  background-color: darkcyan;
}

a.nav1 {
  display: inline-block;
  width: 20%;
  padding: 15px 30px;
  color: black;
  text-decoration: none;
  text-align: center;
}

a.nav1:hover{
  background-color: crimson;
}
