* {
  margin: 0;
  padding: 0;
  font-family: Calibri, Open-Sans;
  box-sizing: border-box;
}

body {
  background: #ddb;
}

#nav {
  background-color: darkcyan;
}

a.nav1 {
      display: inline-block;
      width: 25%;
      padding: 15px 30px 15px 30px;
      color: white;
      text-decoration: none;
      text-align: center;
  
.active {
      background-color: crimson;
}
