body {
  background: #ddb;
}
.nav {
  background-color: darkcyan;
}
a.menu {
      display: inline-block;
      width: 25%;
      padding: 15px 30px 15px 30px;
      color: white;
      text-decoration: none;
      text-align: center;
