body {
  background: #ddb;
}
 https://www.notion.so/SQL-3ccfadeab4b84d7794d7a13966de2547
.navlink:hover{
  color: red;
  background-color: orange
}
.h2za{
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}
